# Server
SECRET_KEY=django-insecure-templategen-starter-key
DEBUG=True
ALLOWED_HOSTS=*

# Logging
LOG_LEVEL=INFO
LOG_TO_FILE=false
LOG_FILE=logs/app.log

<% if (database === 'postgresql') { %># Database (PostgreSQL)
DB_NAME=<%= projectName %>
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
<% } else if (database === 'mysql') { %># Database (MySQL)
DB_NAME=<%= projectName %>
DB_USER=root
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=3306
<% } %>
